In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("2017natData.csv",sep='\t')  #using pandas to convert the csv file into a 2D Data frame

In [3]:
df.describe()

       Nationality
count          105
unique          41
top          Irish
freq            34

In [20]:
df = df.replace([" Irish", "Irish ", "irish", "Ireland"], "Irish")
df = df.replace(["UK", "Welsh", " British", "British ", "English", "United Kingdom"], "British")
df = df.replace(["DE", "Deutsch", "German " ," German", "german"], "German")
df = df.replace(["chinese", "CHINESE","China" ], "Chinese")
df = df.replace(["Spain"], "Spanish")

In [21]:
summary_inst=df["Nationality"].value_counts() 
sum_df = pd.DataFrame(summary_inst)
sum_df

                       Nationality
Irish                           37
French                           8
British                          8
Spanish                          5
German                           5
Italian                          4
Chinese                          3
Indian                           3
Brazilian                        3
Hungarian                        3
Greek                            3
Polish                           2
Serbian                          2
South Korean                     1
Brazilian / Lebanese             1
Slovakian                        1
Mexican                          1
hungarian                        1
Filipino                         1
Ghanaian                         1
Danish                           1
Romanian                         1
Australian                       1
Austrian                         1
Sri Lankan                       1
Ukrainian                        1
Costa Rican                      1
Spanish and Mexican              1
Portuguese                       1
Belgium                          1
English/Irish                    1
Russian                          1

In [22]:
sum_df.to_csv("2017nationality_summary.csv", sep = "\t")

In [9]:
df2 = pd.read_csv("nationality_summary.csv")  #using pandas to convert the csv file into a 2D Data frame

In [10]:
df2

        Unnamed: 0  Nationality         NATION
0            Irish         34.0            ROI
1          British         22.0             UK
2           French          9.0             EU
3           German          4.0             EU
4          Chinese          4.0           ASIA
5           Indian          3.0           ASIA
6        Brazilian          3.0  SOUTH AMERICA
7          Italian          3.0             EU
8         American          2.0  NORTH AMERICA
9       Australian          2.0            AUS
10         Chilean          1.0  SOUTH AMERICA
11  Northern Irish          1.0             NI
12         Spanish          1.0             EU
13         Russian          1.0             EU
14        Canadian          1.0  NORTH AMERICA
15       Guatemala          1.0  NORTH AMERICA
16        Romanian          1.0             EU
17         Mexican          1.0  NORTH AMERICA
18       Slovenian          1.0             EU
19          Polish          1.0             EU
20         Persian          1.0           ASIA
21   Irish/English          1.0            ROI
22           Dutch          1.0             EU
23           Ghana          1.0         AFRICA
24        Filipino          1.0           ASIA
25      Indonesian          1.0           ASIA
26           Saudi          1.0           ASIA
27  British/Danish          1.0             EU
28             NaN          NaN            NaN
29             NaN          NaN            NaN
30        NATIONAL         36.0           0.35
31   INTERNATIONAL         68.0           0.65
32             NaN          NaN            NaN
33              EU         23.0           0.22
34            ASIA         11.0           0.11
35   NORTH AMERICA          5.0           0.05
36   SOUTH AMERICA          4.0           0.04
37              UK         22.0           0.21
38             ROI         35.0           0.34
39              NI          1.0           0.01
40          AFRICA          1.0           0.01
41      Australian          2.0           0.02

In [11]:
df2["CONTINENT"].value_counts()

KeyError: 'CONTINENT'

In [21]:
df2["INTERNATIONAL"].value_counts()

I    23
N     5
Name: INTERNATIONAL, dtype: int64